.App {
  text-align: center;
}

.App-logo {
  animation: hover infinite 5s ease-in-out;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header h1 {
  margin-bottom: 0;
}

.Wrapper {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Footer {
  padding: 8px 0;
  background: #222;
  color: #fff;
}

@keyframes hover {
  from { transform: translateY(0px); }
  50% { transform: translateY(15px); }
  to { transform: translateY(0px); }
}
